/**
 *
 * Viewer
 *
 * @author Takuto Yanagida
 * @version 2021-10-18
 *
 */


@mixin style-inside {
	--background-color       : #{rgba(#000, 0.75)};
	--image-background-color : #{rgba(#fff, 0.95)};
	--caption-color          : #{rgba(#fff, 1.00)};
	--caption-shadow-color   : #{rgba(#000, 1.00)};
	--icon-color             : #{rgba(#fff, 0.75)};
	--loader-color           : #{rgba(#fff, 0.95)};
	--closer-background-color: #{rgba(#000, 0.50)};
	--fading-time            : 0.5s;
	--caption-padding        : 1rem;
	--image-margin           : 4rem;

	display : none;
	overflow: hidden;

	background-color: var(--background-color);
	cursor          : pointer;
	opacity         : 0;
	transition      : opacity 0.2s;
	&[data-nc-instantly] { transition: none; }

	&[data-nc-open] {
		display : block;
		position: fixed;
		inset   : 0;
		z-index : 9999;
		margin  : 0;
	}
	&[data-nc-visible] {
		opacity   : 1;
		transition: opacity var(--fading-time);
		&[data-nc-instantly] { transition: none; }
	}

	> img {
		position        : absolute;
		top             : 0;
		left            : 0;
		cursor          : auto;
		background-color: var(--image-background-color);
		transition      : opacity var(--fading-time);
		box-sizing      : border-box;
	}
	&[data-nc-loaded]:not([data-nc-visible]) > img {
		opacity: 0 !important;
	}

	@include style-loader;
	@include style-caption;
	@include style-closer;
	@include style-pager;
}

@mixin style-loader {
	&::after {
		content : '';
		position: fixed;
		top     : calc(50% - 1.5rem);
		left    : calc(50% - 1.5rem);
		z-index : -1;

		width        : 3rem;
		height       : 3rem;
		margin       : 1px;
		border-radius: 50%;
		border       : 3px solid var(--loader-color);
		border-color : var(--loader-color) transparent var(--loader-color) transparent;
		animation    : nc-rotate 1s infinite;
	}
	&[data-nc-loaded]::after { display: none; }
	@keyframes nc-rotate {
		0%   { transform: rotate(  0deg); }
		100% { transform: rotate(360deg); }
	}
}

%button {
	appearance: none;
	border    : none;
	background: none;
	box-sizing: border-box;

	position   : fixed;
	display    : grid;
	place-items: center;

	&::before,
	&::after {
		content : '';
		position: absolute;
		top     : 50%;
		left    : 50%;
	}
}

@mixin style-closer {
	> [data-nc-viewer-closer] {
		@extend %button;

		top   : 0.5rem;
		right : 0.5rem;
		width : 3rem;
		height: 3rem;

		background-color: var(--closer-background-color);
		border-radius   : 50%;

		&::before,
		&::after {
			width           : 2rem;
			height          : 3px;
			background-color: var(--icon-color);
		}
		&::before { transform: translate(-50%, -50%) rotate( 45deg); }
		&::after  { transform: translate(-50%, -50%) rotate(-45deg); }
	}
}

@mixin style-pager {
	> [data-nc-viewer-prev],
	> [data-nc-viewer-next] {
		@extend %button;

		top   : calc(50% - 15vh);
		width : 3rem;
		height: 30vh;

		&::before {
			width      : 1rem;
			height     : 1rem;
			border-top : 3px solid var(--icon-color);
			border-left: 3px solid var(--icon-color);
		}
	}
	> [data-nc-viewer-prev] {
		left: 0;
		&::before { transform: translate(-40%, -50%) rotate(-45deg); }
	}
	> [data-nc-viewer-next] {
		right: 0;
		&::before { transform: translate(-60%, -50%) rotate(135deg); }
	}
}

@mixin style-caption {
	> [data-nc-viewer-caption] {
		position: fixed;
		left    : 0;
		right   : 0;
		bottom  : 0;

		padding: var(--caption-padding);

		color      : var(--caption-color);
		text-align : center;
		text-shadow:
			0 0 0.25rem var(--caption-shadow-color),
			0 0 0.25rem var(--caption-shadow-color);

		span {
			display   : inline-block;
			text-align: left;
		}
	}
}
